.vs/*
.vscode/*
Jefferson/.vscode/*
Jefferson/x64/*
Jefferson/Jefferson.log
Jefferson/Jefferson.vxcproj
Jefferson.vcxproj.filters
Jefferson/ofile.wav
x64/*
Jefferson/ASIOSDK2.3.2
assimp_log.txt
Jefferson.log
enc_temp_folder/*
*.reapeaks
Jefferson/full/*
*.wav